* {
    box-sizing: border-box;
}
body{
    font-family: Arial;
    margin: 0;
    background-color: #dcdcdd;
    color: #46494c;
}
#contenido{
    max-width: 100%;
    margin: auto;
}
.row{
    width: 60%;
    margin: auto;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.col33{
    float: left;
    width: 33%;
    background-color: #dcdcdd;
}
.col66{
    float: left;
    width: 67%;
    background-color: #dcdcdd;
}
header {
    padding: 10px;
    text-align: center;
    color: #dcdcdd;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    color: #dcdcdd;
}
#pie{
    width: 90%;
    margin: auto;
    background-color: #4c5c68;
}
nav {
    width: 90%;
    margin: auto;
    overflow: hidden;
    background-color: #4c5c68;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
nav a {
    width: 50%;
    float: left;
    display: block;
    color: #1985a1;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav a.right {
    float: right;
}
nav a:hover {
    background-color: #c5c3c6;
    color: black;
}
nav a.active {
    background-color: #666;
    color: #1985a1;
}
button{
    width: 100%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modalContenido {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 0.5em;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}
.cerrarAbout {
    color: #1985a1;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cerrarAbout:hover,
.cerrarAbout:focus {
    color: #46494c;
    text-decoration: none;
    cursor: pointer;
}

i{
    color:red;
}

/* Animaciones */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* Responsividad */
/* @media only screen and (min-width:620px) */
@media screen and (max-width:600px) {
    nav a, .col33, .col66 {
        width:100%;
    }
}
@media only screen and (min-width: 600px) {
    nav a {
        width:100%;
    }
}
@media only screen and (max-width: 768px) {

}
