/*user-select: all;
    :root{
        --main-color: hotpink;
        --pane-padding: 5px 42px;
    }
    #div1 {
    background-color: var(--main-color);
    padding: var(--pane-padding);
    }

document.getElementById("elemento").style.setProperty(--main-color, "blue")
*/
* {
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #dcdcdd;
    color: #46494c;
}
#contenido{
    max-width: 100%;
    margin: auto;
}
.row{
    width: 60%;
    margin: auto;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.col33{
    float: left;
    width: 33%;
    background-color: #dcdcdd;
}
.col66{
    float: left;
    width: 67%;
    background-color: #dcdcdd;
}
header {
    padding: 10px;
    text-align: center;
    color: #dcdcdd;
}
footer {
    padding: 10px;
    text-align: center;
    color: #dcdcdd;
}
#pie{
    width: 90%;
    margin: auto;
    background-color: #4c5c68;
}
nav {
    width: 90%;
    margin: auto;
    overflow: hidden;
    background-color: #4c5c68;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
nav a {
    float: left;
    display: block;
    color: #1985a1;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav a.right {
    float: right;
}
nav a:hover {
    background-color: #c5c3c6;
    color: black;
}
nav a.active {
    background-color: #666;
    color: #1985a1;
}
button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modalContenido {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 0.5em;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: about;
    -webkit-animation-duration: 0.4s;
    animation-name: about;
    animation-duration: 0.4s;
    text-align: center;
}
.cerrarAbout {
    color: #1985a1;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cerrarAbout:hover,
.cerrarAbout:focus {
    color: #46494c;
    text-decoration: none;
    cursor: pointer;
}

/*PRUEBAS*/
.col100{
    position: relative;
    float: left;
    width: 100%;
}
.col33Fija{
    float: left;
    width: 33.3%;
    text-align: center;
    border: 1px solid black;
}
i.b{
    padding-left: 15%;
    position: absolute;
}
i.a{

    color: red;
    animation-name: example;
    animation-duration: 4s;
    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate;*/
    /*animation-timing-function: linear;*/
    /*animation-timing-function: ease;*/
    /*animation-timing-function: ease-in;*/
    /*animation-timing-function: ease-out;*/
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;

    /*animation-play-state: paused;*/
}
i.c{
    color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

/* Animaciones */
@-webkit-keyframes about {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes about {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes example {
    0%  {color:red; padding-left: 15%;}
    50%  {color:green; padding-left: 49%;}
    100% {color:blue; padding-left: 83%;}
}

@keyframes fase12 {
    0%  {color:red; padding-left: 15%;}
    100%  {color:green; padding-left: 49%;}
}
@keyframes fase23 {
    0%  {color:red; padding-left: 49%;}
    100% {color:blue; padding-left: 83%;}
}
@keyframes fase31 {
    0%  {color:red; padding-left: 83%;}
    100% {color:blue; padding-left: 15%;}
}

/* Responsividad */
/* @media only screen */
/* @media all */
/* 320 768 1024 */

/* Tablet */
@media screen and (min-width:320px) {
    .col66 {
        width:67%;
    }
    .col33 {
        width:33%;
    }
    nav a {
        width: 50%;
    }
}
/* Pantalla */
@media screen and (min-width:768px) {
    .col66 {
        width:50%;
    }
    .col33 {
        width:50%;
    }
    nav a {
        width: Auto;
    }
}